@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(223, 219, 219);
    color: rgb(87, 76, 76);
}
body, nav, header {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 25px;
    padding-right: 25px;
}
header, nav {
    text-align: center;
    margin-bottom: 10px;
}
header {
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: whitesmoke;
    padding-bottom: 25px;
}
nav {
    background-color: whitesmoke;
    display: flex;
}
nav ul, li {
    list-style: none ;
    display: flex;
}
nav a, nav i {
    text-decoration: none;
    background-color: whitesmoke;
    display: flex;
}
header h1, header h2, header p, header a, header b {
    background-color: whitesmoke;
}
.round-corners {
    border-radius: 100%;
}
h1 {
    color: rgb(201, 66, 66);
    font-weight: 750px;
}
button {
    background-color: rgb(201, 66, 66);
    text-align: center;
    padding-top: 10px;
    border-radius: 10%;
    border-color: whitesmoke;
}
button a {
    text-decoration: none;
    background-color: rgb(201, 66, 66);
    color: rgb(223, 219, 219);
}
a:hover {
    font-style: italic;
}
