@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(223, 219, 219);
    color: rgb(87, 76, 76);
}
header, article {
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    background-color: whitesmoke;
    padding-bottom: 0px;
    text-align: center;
    width: 33%;
}
h2 {
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    display: flex;
    align-items: center;
    background-color: whitesmoke;
    justify-content: center;
}
h3 {
    background-color: whitesmoke;
}
article h2 {
    padding-top:10px ;
}
nav {
    margin: auto;
    padding: 25px;
    background-color: whitesmoke;
    text-align: center;
    width: 33%;
    height: auto;
}
article p {
    padding-bottom: 33%;
}
ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-inline-start: 0px;
}

li {
    justify-content: space-around;
}
header h1, header h2, header p, header a, header b, nav, a, ul, li, i {
    background-color: whitesmoke;
}
.round-corners {
    border-radius: 100%;
}
h1 {
    color: rgb(201, 66, 66);
    font-weight: 750px;
}
button {
    background-color: rgb(201, 66, 66);
    text-align: center;
    padding-top: 10px;
    border-radius: 10%;
    border-color: whitesmoke;
}
button a {
    text-decoration: none;
    background-color: rgb(201, 66, 66);
    color: white;
}
article p {
    background-color: whitesmoke;
}