@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(223, 219, 219);
    color: rgb(87, 76, 76);
}
header, nav, article, h2, figure, figcaption {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 25px;
    padding-right: 25px;
    background-color: whitesmoke;
    padding-bottom: 25px;
    text-align: center;
    width: 33%;
}
article img {
    float: left;
}
article p {
    padding-bottom: 33%;
}
ul {
    list-style: none;
}
li {
    display: inline-table;
}
header h1, header h2, header p, header a, header b, nav, a, ul, li, i {
    background-color: whitesmoke;
}
.round-corners {
    border-radius: 100%;
}
h1 {
    color: rgb(201, 66, 66);
    font-weight: 750px;
}
button {
    background-color: rgb(201, 66, 66);
    text-align: center;
    padding-top: 10px;
    border-radius: 10%;
    border-color: whitesmoke;
}
button a {
    text-decoration: none;
    background-color: rgb(201, 66, 66);
    color: white;
}
article i {
    font-size: ;
}
article p {
    background-color: whitesmoke;
}